.computerPartsCardWrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: auto;
}


.computerPartsCardContainer {
	display: grid;
	justify-content: space-around;
	align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: max-content;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
    grid-auto-flow: row;
	border: 1px solid black;
    padding: 20px;
    width: 1000px;
}

.computerPartsCardImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.computerPartsCardPrice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pcPartImage {
    height: 100px;
}