.createAccountTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.formTopDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}