.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: fit-content;
    border: 1px solid red;
}

.links {
    display: flex;
    flex-direction: row;
}