.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: fit-content;
    border: 1px solid red;
}

.links {
    display: flex;
    gap: 100px;
    flex-direction: row;
}

.login-buttons {
    display: flex;
    border: 1px solid red;
    margin-left: 1252px;
}